body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #5c584c;
    color: #e6e6e6; 


h1 {
    font-size: 42px;
    color: #b5c8ff;
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 1px solid #a9a9a9;
    margin-bottom: 25px;
}


h2 {
    color: #b5c8ff;
    margin-top: 35px;
    margin-bottom: 5px;
}


p, li {
    font-size: 16px;
    line-height: 1.5;
}


a {
    color: #ffb3b3; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.moods {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.moods img {
    width: 260px;
    border: 2px solid #3b3b3b; 
}


.moods p {
    margin-top: 5px;
    font-size: 15px;
}


ul, ol {
    margin-left: 25px;
}


.footer-icons img {
    height: 40px;
    margin-right: 10px;
}
}